.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, #7c5252, #410b0b);
}
body {
  padding: 0;
  margin: 0;
}
